.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);

  width: 0;
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
  top: 3;

}

.app__flex {
  display: flex;
}